 <div id="refresh-interval">
        <select id="refresh-interval-select">
            <option value="15">15 seconds</option>
            <option value="30">30 seconds</option>
            <option value="60">1 minute</option>
            <option value="300">5 minutes</option>
            <option value="900">15 minutes</option>
            <option value="3600">1 hour</option>
        </select>
    </div>

    <div id="refresh-button">
        <button id="refresh-btn">Refresh</button>
    </div>

    <div id="monitor-boxes">
        <!-- Placeholder elements for monitor boxes -->
        <div class="monitor-box">Box 1 Data: <span class="box-data"></span></div>
        <div class="monitor-box">Box 2 Data: <span class="box-data"></span></div>
        <div class="monitor-box">Box 3 Data: <span class="box-data"></span></div>
    </div>



