<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>RB-Tool</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulk.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pss_monitor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loadunit.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>

<body>
    <div class="background-overlay"></div>
    <div class="container">
        <div class="tabs">
            <ul>
                <li class="tab-button" onclick="showTabContent('order-check-content')">Order Check</li>
                <li class="tab-button" onclick="showTabContent('loadunit-check-content')">LoadUnit Check</li>
                <li class="tab-button" onclick="showTabContent('bulk-orders-content')">Bulk Orders</li>
                <li class="tab-button" onclick="showTabContent('pss-monitor-content')">PSS Monitor</li>
                <header>
                    <li><a href="#" class="logo">RIQ</a></li>
                    <div class="logout">
                        <a href="/logout">Logout</a>
                    </div>
                    
                </header>
                
            </ul>
        </div>

      
            <div class="tab-content" id="order-check-content">
                <div class="content-box">
                <label for="order-id">Enter Order No:</label>
                <input type="text" id="order-id">
                <button id="go-button">Go</button>
                <button id="check-alarm-button">CHECK_ALARM</button>
                <button class="analyse-button" onclick="analyseData()">Analyse</button>
                
                <div class="tables-container">
                    <div class="table-wrapper" id="status-container">
                        <h2>Order Status</h2>
                        <table id="status-table">
                            <!-- Status table content -->
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Create Date</th>
                                    <th>Mod Date</th>
                                    <th>TARGET_DATE</th>
                                    <th>Sortation Order ID</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows for status table -->
                            </tbody>
                        </table>
                        <h2>MISSING Results</h2>
                        <table id="analysis-table">
                            <!-- Analysis table content -->
                            <thead>
                                <tr>
                                    <th>SORT_ORDER</th>
                                    <th>REQ_VAS</th>
                                    <th>SKU</th>
                                    <th>REQ_QTY</th>
                                    <th>AVL_POUCH</th>
                                    <th>QL</th>
                                    <th>CP</th>
                                    <th>CT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows for analysis table -->
                            </tbody>
                        </table>
                        <h2>FAKE STEN</h2>
                        <table id="sten-table-container">
                            <!-- STEN table content -->
                            <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>STEN</th>
                                    <th>N_POUCH</th>
                                    <th>QUALITY</th>
                                    <th>COUNTRY</th>
                                    <th>COMPANY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows for STEN table -->
                            </tbody>
                        </table>
                        <h2>FAKE STBA</h2>
                        <table id="stba-table-container">
                            <!-- STBA table content -->
                            <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>STBA</th>
                                    <th>N_POUCH</th>
                                    <th>QUALITY</th>
                                    <th>COUNTRY</th>
                                    <th>COMPANY</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows for STBA table -->
                            </tbody>
                        </table>
                    </div>
                       
                    <div class="table-wrapper" id="sku-results">
                      <h2>Inventory Results</h2>
                      <div class="buttons-container-sku">
                        <button id="filterReservedButton" onclick="filterSKU('RESERVED')">Reserved</button>
                        <button onclick="clearSKUFilter()">Clear</button>
                    </div>
                    
                        <div class="scrollable-table">
                            <div class="table-container">
                        <table id="sku-results-table">
                            <!-- SKU Results table content -->
                            <thead>
                                <tr>
                                    <th class="resizable-column">pouchable</th>
                                    <th>SKU</th>
                                    
                                    <th>CN</th>
                                    <th>QL</th>
                                    <th>CP</th>
                                    <th>Qty</th>
                                    <th>Qty Free</th>
                                    <th>Availability Status</th>
                                    <th class="resizable-column">Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows for SKU results table -->
                            </tbody>
                        </table>
                    </div>
                        </div>
                    </div>
                    <div class="table-wrapper" id="order-details-container">
                    <h2>Order Details Results</h2>
                    
                    <table id="order-details-table">
                        <!-- Order details table content -->
                        <thead>
                            <tr>
                                <th>Order Line ID</th>
                                <th>SKU</th>
                                <th>Company</th>
                                <th>Country</th>
                                <th>Quality</th>
                                <th>Quantity</th>
                                <th>Required VAS</th>
                                <th>LoadUnit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Rows for order details table -->
                        </tbody>
                    </table>
                    </div>
                    <div class="table-wrapper" id="sortation-results">
                    <h2>Sortation Results</h2>
                    <div class="buttons-container-sortation">
                        <button id="filterBufferButton" onclick="filterSortation('BUF')">Buffer</button>
                        <button onclick="clearSortationFilter()">Clear</button>
                    </div>
                      <div class="scrollable-table">
                        <table id="sortation-results-table">
                            <!-- Sortation Results table content -->
                            <thead>
                                <tr>
                                    <th class="resizable-column">SLU_ID</th>
                                    <th class="resizable-column">S_ORDER_ID</th>
                                    <th>VAS_TYPE</th>
                                    <th class="resizable-column">Location</th>
                                    <th class="resizable-column">ARR_TIME</th>
                                    <th>SKU</th>
                                    <th>ERR</th>
                                    <th>CP</th>
                                    <th>CN</th>
                                    <th>QL</th>

                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows for sortation results table -->
                            </tbody>
                        </table>
                        
                    </div>
                    </div>
                    <div class="table-wrapper" id="alarm-table-container">
                        <h2>Alarm Details Results</h2>
                        <table id="alarm-table">
                            <thead>
                                <tr>
                                    <th>Details</th>
                                    <th>Create Date</th>
                                </tr>
                            </thead>
                            <tbody id="alarm-table-body">
                                <!-- Data will be dynamically populated here -->
                            </tbody>
                        </table>
                        <div id="processing-indicator" class="hidden">Processing...</div>
                    </div>
            </div>
        </div>
    </div>

        <div>
            <div class="tab-content" id="loadunit-check-content">
                {% include 'loadunit.html' %}
            </div>
            
        </div>

        <div>
            <div class="tab-content" id="bulk-orders-content">
                {% include 'bulk_orders.html' %}
            </div>
            <div id="processing-indicator" class="hidden">Processing...</div>
        </div>
        

        
            <div class="tab-content" id="pss-monitor-content">
                {% include 'pss_monitor.html' %}
            </div>
            <div id="processing-indicator" class="hidden">Processing...</div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/bulk.js') }}"></script>
    <script src="{{ url_for('static', filename='js/alarmdetails-functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sku-functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/analysedata-functions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/execute-queries.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table-operations.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pss_monitor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/loadunitcontent.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
</body>

</html>
